.display{
    height: 1334px;
    width: 750px;
    background-color: #3854A6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{  
    width: 90%;
    height: 20%;
    border-radius: 15px;
    background-color: white;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
.valor{
    width: 37.5%;
    height: 100%;
    background-color: cadetblue;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
    text-align: center;
    float: left;
}
.valor h1{
    margin-top: 15px;
    font-size: 50px;
}
.valor .vencimento{
    position: relative;
    top: 35%;
    font-size: 25px;    
}
.descricao{
    position: relative;
    float: right;
    width: 62.5%;
    height: 100%;
}

.descricao .texto{
    margin-left: 15px;
    margin-top: 15px;
}

.descricao button{
    float: right;
    margin-right: 15px;
    width: 50%;
    height: 20%;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: larger;
    background-color: cadetblue;
}