<div class="display">
  <div class="card">
    <div class="valor">

      <h1>R$ 999,99</h1>

      <div class="vencimento">
        <h2>Vence hoje!</h2>
        <h3>11/02/2020</h3>
      </div>
    </div>

    <div class="descricao">
      <div class="texto">
        <h1>Conta de água</h1>
        <h3>Sabesp - descrição</h3>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button>Adicionar para pagar</button>
    </div>
  </div> 

  <div class="card">
    <div class="valor">

      <h1>R$ 999,99</h1>

      <div class="vencimento">
        <h2>Vence hoje!</h2>
        <h3>11/02/2020</h3>
      </div>
    </div>

    <div class="descricao">
      <div class="texto">
        <h1>Conta de água</h1>
        <h3>Sabesp - descrição</h3>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button>Adicionar para pagar</button>
    </div>
  </div> 

  <div class="card">
    <div class="valor">

      <h1>R$ 999,99</h1>

      <div class="vencimento">
        <h2>Vence hoje!</h2>
        <h3>11/02/2020</h3>
      </div>
    </div>

    <div class="descricao">
      <div class="texto">
        <h1>Conta de água</h1>
        <h3>Sabesp - descrição</h3>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button>Adicionar para pagar</button>
    </div>
  </div> 

  <div class="card">
    <div class="valor">

      <h1>R$ 999,99</h1>

      <div class="vencimento">
        <h2>Vence hoje!</h2>
        <h3>11/02/2020</h3>
      </div>
    </div>

    <div class="descricao">
      <div class="texto">
        <h1>Conta de água</h1>
        <h3>Sabesp - descrição</h3>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button>Adicionar para pagar</button>
    </div>
  </div> 
</div>